body {
    width: 33%;
}

button {
    float: left;
    font-size: 18px;
    height: 36px;
    margin: 0px;
    width: 25%;
}

#res {
    background-color: lightgray;
    border: solid;
    font-size: 20px;
    height: 48px;
    width: calc(100% - 6px);
}

#btn0, #btn1 {
    background-color: lightgreen;
    color: brown;
}

#btnClr, #btnEql {
    background-color: darkgreen;
    color: white;
}

#btnSum, #btnSub, #btnMul, #btnDiv {
    background-color: black;
    color: red;
}
